<a href="https://colab.research.google.com/github/creamcheesesteak/test_visualization/blob/master/autompg_linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 로딩

In [10]:
import pandas as pd

In [11]:
pd.read_csv('./auto-mpg.csv', header=None)

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [12]:
df = pd.read_csv('./auto-mpg.csv', header=None)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [14]:
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

## 분류와 연속칼럼 구분

In [15]:
df.describe(include='all')

               mpg   cylinders  ...      origin        name
count   398.000000  398.000000  ...  398.000000         398
unique         NaN         NaN  ...         NaN         305
top            NaN         NaN  ...         NaN  ford pinto
freq           NaN         NaN  ...         NaN           6
mean     23.514573    5.454774  ...    1.572864         NaN
std       7.815984    1.701004  ...    0.802055         NaN
min       9.000000    3.000000  ...    1.000000         NaN
25%      17.500000    4.000000  ...    1.000000         NaN
50%      23.000000    4.000000  ...    1.000000         NaN
75%      29.000000    8.000000  ...    2.000000         NaN
max      46.600000    8.000000  ...    3.000000         NaN

[11 rows x 9 columns]

In [20]:
df.head(8)

    mpg  cylinders  displacement  ... model year  origin                       name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino
5  15.0          8         429.0  ...         70       1           ford galaxie 500
6  14.0          8         454.0  ...         70       1           chevrolet impala
7  14.0          8         440.0  ...         70       1          plymouth fury iii

[8 rows x 9 columns]

### check columns
- 연속형 : displacement, horsepower, weight, acceleration, mpg
- 분류형 : model year, name, cylinders, origin
- 중립형 :

In [27]:
df['name'].value_counts()
# 카테고리에 너무 적어서 교육의 의미가 없음

ford pinto                    6
toyota corolla                5
ford maverick                 5
amc matador                   5
amc gremlin                   4
                             ..
volkswagen rabbit custom      1
volvo 244dl                   1
oldsmobile delta 88 royale    1
cadillac eldorado             1
volvo diesel                  1
Name: name, Length: 305, dtype: int64

In [28]:
df['mpg'].describe()

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [23]:
df['mpg'].value_counts()

13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
34.2     1
38.1     1
37.2     1
32.1     1
32.7     1
Name: mpg, Length: 129, dtype: int64

In [24]:
df['cylinders'].describe()

count    398.000000
mean       5.454774
std        1.701004
min        3.000000
25%        4.000000
50%        4.000000
75%        8.000000
max        8.000000
Name: cylinders, dtype: float64

In [25]:
df['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

In [26]:
df['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

## 정규화 단계

In [31]:
Y = df['mpg']
X_continus = df[['displacement', 'horsepower', 'weight', 'acceleration']]
X_category = df[['model year', 'cylinders', 'origin']]

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [48]:
scaler.fit(X_continus)

ValueError: ignored

In [49]:
X = scaler.transform(X_continus)

NotFittedError: ignored

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [52]:
lr.fit(X.Y)

AttributeError: ignored

In [ ]:
lr.score(X_continus,Y)

In [16]:
df[['horsepower','name']].describe(include='all')

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

## replace()

In [17]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
93.00     1
167.0     1
61.00     1
230.0     1
103.0     1
Name: horsepower, Length: 94, dtype: int64

In [19]:
df['horsepower'].astype('float64')

ValueError: ignored

In [ ]:
df['horsepower'].unique()

In [ ]:
df['horsepower'].replace(to_replace='?', value=None, inplace=False)

In [ ]:
df_horsepower = df['horsepower'].replace(to_replace='?', value=None, inplace=False)
df_horsepower.unique()

In [ ]:
type(df['horsepower'])

In [ ]:
type(df_horsepower)
df_horsepower = df_horsepower.astype('float')

In [ ]:
df_horsepower.mean()

In [ ]:
df['horsepower'] = df_horsepower.fillna(104)

In [ ]:
df.info()

In [ ]:
df['name'].unique()

In [ ]:
df.head()