<a href="https://colab.research.google.com/github/creamcheesesteak/test_visualization/blob/master/autompg_pandas_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
!pwd

/content

In [4]:
!ls -l ./auto-mpg.csv

-rw-r--r-- 1 root root 21913 Jul  5 01:19 ./auto-mpg.csv

In [6]:
pd.read_csv('./auto-mpg.csv', header=None)

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
df = pd.read_csv('./auto-mpg.csv', header=None)

In [10]:
df.info

<bound method DataFrame.info of         0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]>

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [13]:
df.describe()

                0           1           2  ...           5           6           7
count  398.000000  398.000000  398.000000  ...  398.000000  398.000000  398.000000
mean    23.514573    5.454774  193.425879  ...   15.568090   76.010050    1.572864
std      7.815984    1.701004  104.269838  ...    2.757689    3.697627    0.802055
min      9.000000    3.000000   68.000000  ...    8.000000   70.000000    1.000000
25%     17.500000    4.000000  104.250000  ...   13.825000   73.000000    1.000000
50%     23.000000    4.000000  148.500000  ...   15.500000   76.000000    1.000000
75%     29.000000    8.000000  262.000000  ...   17.175000   79.000000    2.000000
max     46.600000    8.000000  455.000000  ...   24.800000   82.000000    3.000000

[8 rows x 7 columns]

In [15]:
df[3].describe()

count       398
unique       94
top       150.0
freq         22
Name: 3, dtype: object

In [16]:
df[8].describe()

count            398
unique           305
top       ford pinto
freq               6
Name: 8, dtype: object

In [18]:
df.mean()

0      23.514573
1       5.454774
2     193.425879
4    2970.424623
5      15.568090
6      76.010050
7       1.572864
dtype: float64

In [19]:
df[0].std()

7.815984312565782

In [20]:
df[0].mean(), df[0].std(), df[5].count(), df[5].min(), df[5].max()

(23.514572864321615, 7.815984312565782, 398, 8.0, 24.8)