<a href="https://colab.research.google.com/github/creamcheesesteak/test_visualization/blob/master/datapreprocess_fillna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel('./시도별전출입인구수.xlsx')

     전출지별     전입지별      1970      1971  ...      2014      2015      2016      2017
0    전출지별     전입지별  이동자수 (명)  이동자수 (명)  ...  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)
1      전국       전국   4046536   4210164  ...   7629098   7755286   7378430   7154226
2     NaN    서울특별시   1742813   1671705  ...   1573594   1589431   1515602   1472937
3     NaN    부산광역시    448577    389797  ...    485710    507031    459015    439073
4     NaN    대구광역시         -         -  ...    350213    351424    328228    321182
..    ...      ...       ...       ...  ...       ...       ...       ...       ...
320   NaN     전라북도       139       202  ...       609       683       733       768
321   NaN     전라남도       631       965  ...       928      1062      1127      1102
322   NaN     경상북도       374       619  ...       728       903       931       994
323   NaN     경상남도       474       479  ...      1223      1500      1448      1501
324   NaN  제주특별자치도      9290     12427  ...     59673     59036     66444     63275

[325 rows x 50 columns]

In [ ]:
df = pd.read_excel('./시도별전출입인구수.xlsx')

In [ ]:
# df.info()

In [ ]:
# df.head(5)

In [ ]:
# df.describe()

In [ ]:
# df.fillna(method="ffill")