<a href="https://colab.research.google.com/github/creamcheesesteak/test_visualization/blob/master/housing_linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('./housing.csv', header=None)

In [63]:
df.columns = ['CRIM', 'ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','BK','LSTAT','MEDV']
df

        CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO      BK  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  BK       506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

# 구분
- 연속형 : 
- 분류형 : 
- 중립형 :

In [65]:
df

        CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO      BK  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

# 구분

- 연속형 : CRIM, INDUS, NOX, RM, AGE, DIS, TAX, PTRATIO, BK, LSTAT, MEDV
- 분류형 : ZN, CHAS, RAD
- 중립형 :

In [66]:
# df[['CRIM', 'ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','BK','LSTAT','MEDV']].describe(include='all')

In [67]:
# df[['CRIM', 'ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','BK','LSTAT','MEDV']].describe(include='all').value_counts()

In [68]:
Y = df['CRIM']
X_continues = df[['INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'TAX', 'PTRATIO', 'BK', 'LSTAT', 'MEDV']]
X_category = df[['ZN', 'CHAS', 'RAD']]

In [69]:
from sklearn import preprocessing

In [70]:
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [71]:
scaler.fit(X_continues)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [72]:
X = scaler.transform(X_continues)

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [75]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [76]:
lr.score(X_continues, Y)

-33271.01099751909

In [85]:
df.head(1)

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO     BK  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.9   4.98  24.0

[1 rows x 14 columns]

X_continues = df[['INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'TAX', 'PTRATIO', 'BK', 'LSTAT', 'MEDV']]

In [86]:
lr.predict([[2.31, 0.538, 6.575, 65.2, 4.09, 296, 15.3, 396.9, 4.98, 24.0]])

array([844.7068199])

In [87]:
scaler.transform([[2.31, 0.538, 6.575, 65.2, 4.09, 296, 15.3, 396.9, 4.98, 24.0]])

array([[-1.2879095 , -0.14421743,  0.41367189, -0.12001342,  0.1402136 ,
        -0.66660821, -1.45900038,  0.44105193, -1.0755623 ,  0.15968566]])

In [88]:
X_customer = scaler.transform([[2.31, 0.538, 6.575, 65.2, 4.09, 296, 15.3, 396.9, 4.98, 24.0]])
X_customer.shape

(1, 10)

In [89]:
lr.predict(X_customer)

array([0.97239657])

In [77]:
import pickle

In [78]:
pickle.dump(lr, open('./housing_lr.pkl','wb'))

In [79]:
!ls -l ./housing_lr.pkl

-rw-r--r-- 1 root root 663 Jul  6 05:49 ./housing_lr.pkl

In [92]:
pickle.dump(scaler, open('./housing_standardscaler.pkl', 'wb'))